In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.metrics import log_loss

In [17]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")
train.shape

(404290, 6)

In [14]:
train[train['is_duplicate']==1].head()

,id,qid1,qid2,question1,question2,is_duplicate
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
id              404290 non-null int64
qid1            404290 non-null int64
qid2            404290 non-null int64
question1       404290 non-null object
question2       404288 non-null object
is_duplicate    404290 non-null int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [27]:
train['question1'] = train['question1'].fillna("")
train['question2'] = train['question2'].fillna("")

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
id              404290 non-null int64
qid1            404290 non-null int64
qid2            404290 non-null int64
question1       404290 non-null object
question2       404290 non-null object
is_duplicate    404290 non-null int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [41]:
count_vec = CountVectorizer()
all_data = train['question1'].tolist() + train['question2'].tolist()
n = train.shape[0]

In [33]:
vec = count_vec
x = vec.fit_transform(all_data)
print("features: {}".format(len(vec.vocabulary_)))

features: 86153

In [42]:
m_q1 = x[0:n]
print("matrix 1 shape :{}".format(m_q1.shape))

m_q2 = x[n:]
print("matrix 2 shape: {}".format(m_q2.shape))

matrix 1 shape :(404290, 86153)
matrix 2 shape: (404290, 86153)